body, html {
    
  --primaryFontColor: rgb(17, 24, 39);
  --secondaryFontColor: rgb(107, 114, 128);
  --lightBorderColor: rgb(107, 114, 128, 0.5);
  --grayBackgroundColor: rgb(243, 244, 246);
  
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--primaryFontColor);
}

h3 {
    font-weight: normal;
}

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "nav header"
    "nav content"
/*    "nav footer";*/
}

.logo-container {
    width: 80%;
    padding-left: 10%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-height: 100%;
    width: 100%;
}

header {
  grid-area: header;
  background-color: #fff;
  margin: 0 0 3px 0;
  box-shadow: 0px 2px 3px #eee;
  
  padding-left: 2rem;
  padding-right: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
    text-decoration: none;
    color: var(--activeColor);
}

header a:hover {
    text-decoration: underline;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(13, 20, 31);
  color: white;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0 1rem 0 1rem;
}

nav ul li {
  margin: 0.2rem 0; /* Spacing between items */
}

nav ul li a {
  color: rgb(156, 163, 175);
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
    color: white;
    background-color: rgb(26, 36, 59);
}

nav ul li a.current {
    color: white;
    background-color: rgb(26, 36, 59);
}

main {
  grid-area: content;
  background-color: white;
  overflow-y: scroll;
}

/*footer {*/
/*  grid-area: footer;*/
/*  background-color: #222;*/
/*  color: #ddd;*/
/*  padding: 1rem;*/
/*  */
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

button, .submit {
    background-color: var(--activeColor);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover, .submit:hover {
    background-color: var(--activeColorHover);
}

button:disabled, .submit:disabled {
    background-color: var(--activeColorDisabled);
}

button a {
    text-decoration: none;
    color: white;
}

.secondary {
    background-color: white;
    color: var(--activeColor);
    border: 1px solid var(--activeColor);
    border-radius: 10px; /* Adjust this value for more or less rounded corners */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.secondary:hover {
    background-color: var(--secondaryActiveColorHover);
}

input[type="checkbox"]:checked {
    accent-color: var(--activeColor);
}

.secondaryToolbar {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    margin: 0 0 3px 0;
    box-shadow: 0px 2px 3px #eee;
    background-color: white;
    z-index:100; /* HACK switches are on top otherwise */
}
